<html>
    <head>
        <title>Max</title>
        <script src="frontend_static/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="frontend_static/css/max.css">
    </head>
    <body>
        <div class="container">
            <img src="../frontend_static/images/upload_default_img1.png">
            <form>
                <div class="form-input">
                    <input type="text" name="first_name" placeholder="Enter First Name">
                </div>
                <div class="form-input">
                    <input type="text" name="last_name" placeholder="Enter Last Name">
                </div>
                <label class="dob_label">Enter Date Of Birth</label>
                <div class="form-input">
                    <input type="date" step=7 name="dob" value="02/07/1988">
                </div>
                <input class="btn_submit" type="submit" name="submit" value="Submit">
            </form>

        </div>
    </body>
</html>

