<html>
    <head>
        <title>Max</title>
        <script src="frontend_static/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="frontend_static/css/max.css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="newline"></div>
            <div class="newline"></div>
            <div class="container">
                <div class="navbar-header pull-center">
                    <a target="_top" class="navbar-brand">The MAX</a>
                </div>
            </div>
        </div>
    </body>
</html>

