<html>
    <head>
        <title>Max</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/max.css">
    </head>
    <body>
        <div class="container">
            <img class="upload_image" src="../frontend_static/images/upload_default_img1.png">
            <input type="file" id="imgupload" style="display:none"/>
            <form>
                <div class="form-input">
                    <input type="text" name="first_name" placeholder="Enter First Name">
                </div>
                <div class="form-input">
                    <input type="text" name="last_name" placeholder="Enter Last Name">
                </div>
                <label class="dob_label">Enter Date Of Birth</label>
                <div class="form-input">
                    <input type="date" name="dob">
                </div>
                <input class="btn_submit" type="submit" name="submit" value="Submit">
            </form>

        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/max.js"></script> 
</html>

